.section_div {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 200px;
  align-items: center;
  row-gap: 1rem;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 30px;
}

.home_text p {
  max-width: 30ch;
}

.home_logo {
  position: relative;
  --scale-factor: 1.5;
  height: calc(var(--scale-factor)*(2*3.75rem + 2*30px + 2*1.5rem + 20px + 1.5rem));
  aspect-ratio: 333 / 536;
}

.home_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about_info_holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
}

.about_info {
  width: 210px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team_member {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1074px) {
  .section_div {
    column-gap: 100px;
  }
}

@media screen and (max-width: 850px) and (orientation: portrait) {
  .section_div {
    flex-direction: column;
    column-gap: unset;
  }
  .home_text {
    width: 100%;
    height: 60%;
    align-items: center;
    text-align: center;
    order: 2;
    padding-bottom: 3rem;
    gap: 1rem;
    flex-grow: 1;
  }

  .home_logo {
    margin: 0 auto;
    max-height: 200px;
    height: 100%;
  }
}